<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Courses</title>
</head>
<body>
	<div class="container">
		
		<h2>Courses</h2>
		<a href="/sms/">Home</a>
	
			
		<form action="#" th:action="@{/courses}" method="get">
			<input type="text" value="" name="query"/>
			<input type="submit"/>
		</form>
		
		
		<table class="table table-striped">
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th>Duration</th>
				<th>Fee</th>
				<th>Installment Fee</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			<tr th:each="course : ${data}">
				<td th:text="${course.courseId}"></td>
				<td th:text="${course.courseName}"></td>
				<td th:text="${course.duration}"></td>
				<td th:text="${course.fee}"></td>
				<td th:text="${course.installmentFee}"></td>
				<td th:text="${course.active}==true?'Active':'Deactive'"></td>
				<td><a th:href="@{'/courses/' + ${course.courseId}}">Edit</a></td>
				
			</tr>
		</table>

		<b th:text="${'Total Courses : ' + data.totalElements}"></b>
		
		<ul>
			<li th:each="i:${#numbers.sequence(1,data.totalPages==0?1:data.totalPages)}"><a
				th:text="${i}" th:href="@{/courses/(page=${i})}"></a></li>
		</ul>

		<a href="./courses/new">New Course</a>

	</div>
</body>
</html>